.page.partners {
  .header {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-areas:
      "logo title"
      "logo website";
    align-items: center;

    .card {
      grid-area: logo;
      height: 8em;
      width: 12em;
      display: inline-block;

      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;
      background-origin: content-box;
      padding: 0.25em;

      margin-right: 1em;
      box-shadow: 0.125em 0.125em 0.25em rgba(0, 0, 0, 0.5);
    }

    h1 {
      grid-area: title;
      align-self: end;
      font-size: 5.5em;
    }
    a {
      grid-area: website;
      align-self: start;
    }
  }

  .why {
  }

  .socials {
    ul {
      margin: 0;
      list-style: none;
      padding-left: 0;
      display: flex;
      align-items: center;
      font-size: 2em;
      li {
        margin: 0.25em;
      }
    }
  }

  .jobs {
    ul {
      margin: 0;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      list-style: none;
      padding-left: 0;

      .job {
        padding: 0.5em;
        margin: 0.5em;
        box-shadow: 0.125em 0.125em 0.25em rgba(0, 0, 0, 0.5);
        display: flex;
        flex-direction: column;

        header {
          font-size: 1.1em;
          font-weight: bold;
          font-style: italic;
          margin: 0.5em 0;
        }

        .city,
        .contact {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          color: #666;
          margin: 0.25em 0;

          .icon {
            width: 2ch;
          }
        }
      }
    }
  }
}

.partnersdev {
  padding: 100px;
  background-color: #f5f9fc;

  h1 {
    font-size: 35px;
    text-align: center;
    color: #13485f;
    line-height: 50px;
  }
  h4 {
    text-align: center;
    font-weight: 800;
    color: #8298ab;
    line-height: 50px;
    font-size: 13px;
  }
  p {
    color: #1f546c;
    line-height: 22px;
    text-align: center;
  }
}

.partnerlogos {
  column-count: 2;
  h1 {
    font-size: 35px;
    text-align: center;
    color: #13485f;
    line-height: 50px;
  }
  h4 {
    text-align: center;
    font-weight: 800;
    color: #8298ab;
    line-height: 50px;
    font-size: 13px;
  }
  p {
    color: #1f546c;
    line-height: 62px;
  }
}

.logosquare {
  width: 165px;
  height: 210px;
  margin: 30px;
  padding: 50px 50px 50px 50px;
  background: #f5f9fc;
  box-shadow: 0px 2px 30px 0px rgba(48, 70, 89, 0.15);
  border-radius: 2px;
  overflow: hidden;
  float: left;
}

.partner-text {
  padding-top: 50px;
  column-count: 2;
  max-width: 20vw;

  h1 {
    font-size: 35px;
    text-align: left;
    color: #13485f;
    line-height: 50px;
  }
  h4 {
    text-align: left;
    font-weight: 800;
    color: #8298ab;
    line-height: 50px;
    font-size: 13px;
  }
  p {
    color: #1f546c;
    line-height: 22px;
    text-align: left;
  }
}

.flex-container {
  display: flex;
  background-color: DodgerBlue;
}

.flex-container > div {
  background-color: #f1f1f1;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
}
